.round-edges {
	border-radius: 15px;
}

.content-padding {
	margin: auto;
	position: absolute;
	padding-top: 10%;
	padding-right: 7%;
}

#big-container {
	margin: 0;
	position: absolute;
	top: 65%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -80%);
	
}

#title-bar {
	border-radius: 15px 0px 0px 15px !important;
}

#projectDescription {
	resize: none;
}

#submit-button {
	position: relative;
	left: 40%;
	border-radius: 20px;
}

#title-bar, #submit-button {
	background-color: #008444;
	color: white;
}

/*Adjust size/positioning to fit multiple viewports*/

@media only screen and (max-width: 700px) {
	#big-container {
		width: 100%;
		bottom: -25%
	}
}

@media only screen and (max-width: 900px) {
	#big-container {
		margin: auto;
	}
}

@media only screen and (min-width: 901px) and  (max-width: 1200px) {
	#big-container {
		width: 90%
	}
}

@media only screen and (min-width: 1201px) and (max-width: 1500px) {
	#big-container {
		width: 80%;
	}
}

