#landingpage-container {
    height: 100vh;
}

.hero-image {
    /* Set a specific height */
    height: 100%;
    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
#hero-banner {
    background-image: linear-gradient(to right, rgba(0, 132, 68, 0.34), rgba(0, 132, 68, 0.34));
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 150px;
    transform: translate(-50%, -50%);
    filter: blur(3px) ;
  }

#hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}

/* About section styles */
#about-section {
  height: 25vh;
  column-count: 2;
  column-gap: 25%;
  padding-top: 10vh;
}

#about-section p {
  text-align: left;
}

/* Projects Section styles */
#projects-section{
  background-color: #C4C4C4;
  height: 50vh;
  padding-top: 5vh;
  margin-top: 10vh;
  column-count: 2;
  /* column-gap: 15%; */
}

#projects-section p {
  padding-right: 25%;
  padding-left: 25%;
  text-align: justify;
}

#projects-section h2 {
  column-span: all;
  padding-bottom: 5vh;
}

/* How it works section styles*/
#howitworks-section {
  height: 50vh;
  column-count: 3;
}

#howitworks-section h2{
  column-span: all;
  padding-bottom: 5vh;
  padding-top: 5vh;
}