#landingpage-container {
  
}

.hero-image {
    /* Set a specific height */
    /* height: 100%; */
    height: 100vh;

    
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
  }
  
  /* Place text in the middle of the image */
#hero-banner {
    background-image: linear-gradient(to right, rgba(0, 132, 68, 0.34), rgba(0, 132, 68, 0.34));
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 150px;
    transform: translate(-50%, -50%);
    filter: blur(3px) ;
    z-index: -1;
  }

#hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* About section styles */
#about-section {
  height: 25vh;
  column-count: 2;
  column-gap: 25%;
  padding-top: 10vh;
}

#about-section p {
  text-align: left;
}

/* Projects Section styles */
#projects-section{
  background-color: #C4C4C4;
  height: 50vh;
  padding-top: 5vh;
  margin-top: 10vh;
  column-count: 2;
  /* column-gap: 15%; */
}

#projects-section p {
  padding-right: 25%;
  padding-left: 25%;
  text-align: justify;
}

#projects-section h2 {
  column-span: all;
  padding-bottom: 5vh;
}

/* How it works section styles*/
#howitworks-section {
  height: 50vh;
  column-count: 3;
}

#howitworks-section h2{
  column-span: all;
  padding-bottom: 5vh;
  padding-top: 5vh;
}


@media only screen and (max-width: 1150px) {
  #about-section{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #about-section h2{
    margin-top: 3vh;
  }

  #about-section p {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vh;
    text-align: center;
  }

  #projects-section{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 3vh;
  }
  
  #projects-section p{
    text-align: center;
    margin-bottom: 5vh;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  #howitworks-section{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 3vh;
  }

  #howitworks-section p{
    margin-bottom: 5vh;
    text-align: center;
  }
}


@media only screen and (max-width: 768px) {
  #about-section{
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #about-section h2{
    margin-top: 3vh;
  }

  #about-section p {
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vh;
    text-align: center;
  }

  #projects-section{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 3vh;;
  }

  #projects-section p{
    margin-bottom: 5vh;
    padding-right: 10vw;
    padding-left: 10vw;
  }

  #howitworks-section{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 3vh;
  }
  #howitworks-section h2{ 
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  #howitworks-section p{
    margin-bottom: 5vh;
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}