.edit-outer-container {
  	display: inline-flex;
}

.edit-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 100px) {
  .edit-form-container {
    width: 95vw;
  }
}

@media only screen and (max-width: 600px) {
	.submit-container {
		width: 100%;
		margin-bottom: 2em;
	}

	.custom-button {
		margin-bottom: 1em;
	}
}

.title-container {
	width: 90%;
	margin: auto;
}

.edit-title {
  font-weight: 700;
  font-size: 1.5em;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

.edit-form {
  margin: auto;
  margin-top: 1em;
  width: 90%;
}

.form-labels {
	text-align: left;
	font-weight: 600;
	width: 100%;
}

#description {
	height: 6em;
	min-height: 2em;
	max-height: 12em;
}

.button-container {
	float: left;
	margin-bottom: 2em;
}

.submit-container {
	float: right;
}

#edit-submit-button {
	background-color: #008444;
	border-radius: 20px;
	margin-bottom: 2em;
	border: none;
}

/*Status buttons*/

.projectView-status-button {
  border-radius: 20px;
  font-weight: 600;
  margin: 0.5em 0.5em 0.5em 0em;
  font-size: 0.8em;
  padding: 3px 10px;
  transition: all .3s ease;
}

.projectView-status-button:hover {
	transform: scale(1.1);
}


.projectView-new-filled {
  background-color: deepskyblue;
  border: none;
  color: white;
}

.projectView-new-outline {
  background-color: white;
  border: solid 2px deepskyblue;
  color: deepskyblue;
}

.projectView-recruiting-filled {
  background-color: darkturquoise;
  border: none;
  color: white;
}

.projectView-recruiting-outline {
  background-color: white;
  border: solid 2px darkturquoise;
  color: darkturquoise;
}

.projectView-active-filled {
  background-color: limegreen;
  border: none;
  color: white;
}

.projectView-active-outline {
  background-color: white;
  border: solid 2px limegreen;
  color: limegreen;
}

.projectView-paused-filled {
  background-color: gold;
  border: none;
  color: white;
}

.projectView-paused-outline {
  background-color: white;
  border: solid 2px gold;
  color: gold;
}

.projectView-stopped-filled {
  background-color: red;
  border: none;
  color: white;
}

.projectView-stopped-outline {
  background-color: white;
  border: solid 2px red;
  color: red;
}

.projectView-archived-filled {
  background-color: #ff4da6;
  border: none;
  color: white;
}

.projectView-archived-outline {
  background-color: white;
  border: solid 2px #ff4da6;
  color: #ff4da6;
}

.projectView-proposal-filled {
  background-color: blueviolet;
  border: none;
  color: white;
}

.projectView-proposal-outline {
  background-color: white;
  border: solid 2px blueviolet;
  color: blueviolet;
}